/* общие */
:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --backgrnd-color: #f5f4fa;
  --link-color: #afb1b8;
}
body {
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo > span {
  color: var(--accent-color);
}
.list .link {
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.site-nav .link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover::after {
  width: 0;
}
.site-nav .link {
  color: var(--primary-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav a {
  display: flex;
  color: var(--text-color);
  fill: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 5000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
 
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* герой */
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  font-weight: 900;
  font-size: 44px;

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
/* заголовки */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.features .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}
.features p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  text-align: left;
}

/* список ссылок приложений */

.section a {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);

  display: flex;
}

/* наша команда */
.teamwork {
  background-color: var(--backgrnd-color);
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}
.teamwork h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.teamwork p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
}

/* футер */
.footer {
  padding-left: 15px;
  padding-right: 15px;

  background-color: #2f303a;
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 14px;
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
}
.logo-footer span {
  color: var(--accent-color);
}

.adress-info {
  display: flex;
  flex-direction: column;
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adress-info span {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  margin-top: 9px;
}
.footer b {
  text-transform: uppercase;
  line-height: 1.14;
  display: block;
  margin-bottom: 20px;
}

.input {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.8;
}

.copyright {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;

  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* страница портфолио */
.filter {
  color: var(--primary-text-color);
  font-weight: 500;
  border: transparent 1px solid;
  border-radius: 4px;
  height: 38px;

  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  transform: scale(1.5);
}
}
.works h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  margin: 0;
}

.works p {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
.works a {
  text-decoration: none;
  color: var(--text-color);
}

/* блочность */

.header {
  margin-left: auto;
  margin-right: auto;
}

/* кнопки */
.button {
  border-radius: 4px;
  border: 0;

  display: inline-flex;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-family: Roboto;
}

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  background-color: #000000;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.features {
  padding-top: 94px;
}

.site-nav {
  display: flex;
  align-items: baseline;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav {
  display: flex;
  justify-content: space-between;
}
.auth-nav .item:not(:last-child) {
  margin-right: 30px;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features-list {
  display: flex;
  justify-content: center;
}
.features-list .item {
  width: 270px;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}
.dolist {
  display: flex;
  justify-content: center;
}
.dolist .item {
  width: 370px;
  justify-content: center;
  position: relative;
}
.dolist .item:not(:last-child) {
  margin-right: 30px;
}
.team {
  display: flex;
}
.team .item.item:not(:last-child) {
  margin-right: 30px;
}

.clients {
  display: flex;
  justify-content: space-around;
}

.clients-brand:not(:last-child) {
  margin-right: 30px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 60px;
}

.select {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;

  padding-left: 265px;
  padding-right: 264px;
}
.select .item:not(:last-child) {
  margin-right: 8px;
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.cardset {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card:nth-child(3n) {
  margin-right: 0px;
}
.card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.wallpaper {
  background-color: var(--backgrnd-color);
  height: 120px;
  padding-top: 25px;
  padding-left: 100px;
  border: none;
  margin-bottom: 30px;
}
.social-icons {
  fill: var(--link-color);

  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: var(--backgrnd-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}

.social-icons:not(:last-child) {
  margin-right: 10px;
}
.social-icons:hover,
.social-icons:focus {
  background-color: var(--accent-color);
  fill: var(--backgrnd-color);
  transform:scale(1.5)
}
.social-footer {
  display: flex;
  margin-top: 20px;
}

.shadow {
  fill: var(--backgrnd-color);
}
.singup {
  background-color: crimson;
  display: flex;
}
.form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: inherit;
  margin-right: 12px;
  display: flex;

  padding: 15px 16px;
}

.company {
  width: 170px;
  height: 90px;

  border: 1px solid var(--link-color);
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}
.company:focus,
.company:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  transform:scale(1.5)
}
}

.mail-tel {
  margin-right: 10px;
}
.style {
  display: inline-flex;
  align-items: start;
  text-align: start;
}
.team > .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.content {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  padding: 63px 24px;
  margin: 0;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .content {
  transform: translateY(0%);
}
.card:hover,
.card:focus {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.text {
  padding: 20px 24px;
}

.product {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--title-text-color);

  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
}
.plane {
  margin-left: 10px;
}
.cardset .title{
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  }
  